body {
	font: 13px sans-serif;
	margin: 0px;
}

.body {
	width: 600px;
	margin: 0 auto;
}

.content { margin-top: 10px; }

.header {
	padding: 5px;
	text-align: right;
	border-bottom: 1px solid #ccc;
}

input {
	border: 1px solid #999;
	padding: 5px;
	font: 13px sans-serif;
}

table { margin-bottom: 10px; }

table td {
	padding: 5px;
	font: 13px sans-serif;
}

.crumbs { padding-bottom: 5px; border-bottom: 1px solid #ccc; }

.new_blog, .new_entry {
	margin-top: 10px;
	border-top: 1px solid #ccc;
}

.new_entry table { width: 100%; }

.new_entry .label { width: 75px; }
.new_entry input { width: 200px; }
.new_entry textarea { width: 100%; height: 200px; }

.entries { padding: 15px; }
.entry { margin: 20px 0px; }
.entry .title { font-weight: bold; font-size: 20px; }
.entry .body { margin-top: 10px; }

div.error { color: red; margin-top: 5px; text-align: center; }
.error input { border: 1px solid red; }
